/* ## Aside content area ## */
.aside-area {
  margin-top: 60px;
  padding: 0 20px;
}
.aside-area h3 {
  font-size: 1.8rem;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}
.aside-area div + div {
  margin-top: 60px;
}

.input-form {
  position: relative;
  width: 100%;

  color: #bbbec1;
  border: none;
  border-bottom: 1px solid #bbbec1;

  padding: 12px;

  transition: all 0.5s ease 0s;
  transition-duration: 500ms;
  margin-bottom: 30px;
}
.input-form:focus {
  color: var(--black);
  border-radius: 2px;
  border-bottom: 1px solid var(--black);
  outline: 1px solid var(--black);

  transition: all 0.5s ease 0s;
  transition-duration: 500ms;
}
.contact-form {
  position: relative;
}
.name-label,
.email-label,
.subject-label,
.message-label {
  position: absolute;
  top: 16px;
  color: #787878;
  z-index: 9;
}
.email-label {
  top: 86px;
}
.subject-label {
  top: 156px;
}
.message-label {
  top: 226px;
}
.input-form:focus .name-label {
  transform: translateY(40px);
}
.subscribe .input-form {
  font-style: italic;
  border: 1px solid #787878;
  margin-bottom: 10px;
  padding: 12px 20px;
}
.post-item {
  display: flex;
}
.post-item img {
  margin-right: 15px;
}
.last-post-info li {
  margin-bottom: 8px;
}
.last-post-info span {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #878787;
}
.last-post-info li a {
  line-height: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
}
.aside-tag {
  display: flex;
  flex-wrap: wrap;
}
.aside-tag a {
  font-size: 1.2rem;
  border: 1px solid #c5c5c5;
  margin-right: 8px;
  margin-top: 8px;
  padding: 12px 35px;
  transition: all 0.5s ease 0s;
  transition-duration: 500ms;
}

.aside-tag a:hover {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
