* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #30336b;
  --white: #fff;
  --black: #000;

  --text-color: #4f4d4d;
  --sub-text-color: #a1a1a1;
  --description-text-color: #878787;

  /*  */
  --header-height: 335px;
  --max-width: 1140px;

  /* font family */
}

@font-face {
  font-family: OpenSans;
  src: url(../font/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(../font/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: OpenSans;
  src: url(../font/OpenSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: OpenSans;
  src: url(../font/OpenSans-Regular.ttf);
  font-weight: 400;
}

/* @font-face {
  font-family: Helvetica;
  src: url(../font/helveticaneuebold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Helvetica;
  src: url(../font/helveticaneuemedium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Helvetica;
  src: url(../font/helvetica-neue-regular.ttf);
  font-weight: 400;
} */

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 20px;
}

ul {
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--primary);
}

button {
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid #dcdcdc;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
  cursor: pointer;

  transition: color 500ms ease-in-out 0s, background-color ease-in-out 0s,
    border-color ease-in-out 0s, box-shadow ease-in-out 0s;
  transition-duration: 500ms;
}

button:hover {
  color: #ffffff;
  background-color: var(--primary);
  border-color: rgb(48, 51, 107);
  transition-duration: 500ms;
}

.large-button {
  min-width: 160px;
  padding: 20px 30px;
  letter-spacing: 3px;
}
