.sub-title {
  font-size: 11px;
  letter-spacing: 3px;
  line-height: 16.5px;
  margin-bottom: 10px;
  text-align: center;

  text-transform: uppercase;
  z-index: 222;
}
.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
}
.description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 100px;
  text-align: center;
}
