/* Media query */

/* Mobile:  */
@media (width <= 739px) {
}

/* Tablet: */
@media (739px <= width <= 1023px) {
}

/* Mobile - Tablet */
@media (width <= 1023px) {
}

/* PC: */
@media (width >= 1113px) {
  /* #### Header Area Start ####*/
  .top-header,
  .logo-area,
  .nav-area {
    display: flex;
    align-items: center;
  }

  /* Top Header */
  .top-header {
    height: 65px;
  }
  .top-title {
    padding: 3px 0;
  }
  .social-icon {
    text-align: right;
    padding: 3px 0;
  }

  /* Logo */
  .logo-area {
    height: 170px;
  }

  /* Navigation */
  .nav-container {
    width: 100%;
    background-color: var(--white);
    left: 0;
  }
  .nav-container.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0;
    box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
  }
  .nav-container.sticky .nav-area {
    padding: 15px 12px;
  }
  .nav-area {
    padding: 30px 12px;
  }

  .nav-link {
    display: flex;
    justify-content: flex-end;
  }

  .nav-link li {
    position: relative;
    padding: 6px 0;
  }

  .nav-link li:hover .sub-nav {
    display: block;
  }

  /* Sub navigation */
  .sub-nav {
    position: absolute;
    display: none;
    top: 40px;
    left: 0;
    min-width: 180px;
    background-color: var(--white);

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
    transition: all 0.3s ease 0s;
    z-index: 999;
  }
  .sub-nav::before {
    content: '';
    position: absolute;
    display: block;
    top: -20px;
    width: 60px;
    height: 20px;
    cursor: pointer;
  }
  .sub-nav li {
    border-bottom: 0.989583px solid rgba(242, 244, 248, 0.5);
    padding: 3px;
    cursor: pointer;
  }
  .sub-nav li:hover {
    background-color: #f9f9f9;
  }
  .sub-nav li a {
    line-height: 34px;
    font-size: 14px;
    text-transform: uppercase;
    color: #4f4d4d;
    transition: all 0.5s ease 0s;
    transition-duration: 500ms;
    cursor: pointer;
  }

  .search-input {
    display: block;
  }
  /* #### Header Area End #### */

  /* #### Footer Area End #### */
  #back-to-top-btn {
    bottom: 60px;
    right: 60px;
  }
  /* #### Footer area */
  .list-image img {
    width: 230px;
  }

  .copy-right {
    padding: 60px 0px;
  }
  /* #### Footer Area End #### */

  /** index.html */
  /* #### Slider Area Start #### */
  #slider {
    display: flex;
    justify-content: center;
  }

  .slides {
    /* position: relative; */
    width: 786px;
    height: 670px;
  }
  .slide-main-title {
    width: 20%;
    font-size: 40px;
    line-height: 52px;
    padding: 12px 20px 5px;
  }
  .slider-btn-left,
  .slider-btn-right {
    top: 70%;
  }
  .slider-btn-left {
    left: 7%;
  }
  .slider-btn-right {
    right: 7%;
  }
  /* #### Slider Area End #### */

  /* #### Content Area Start #### */
  /* ## Sub content Area ## */
  .col-item {
    padding-top: 16px;
  }
  /* ============================================================================================== */

  /* ## Main content Area ## */
  #content-area {
    padding-bottom: 0;
  }
  .main-content-area {
    margin-top: 100px;
  }
  /* Blog Area */
  .blog-img {
    padding: 0;
    margin-top: 0;
  }
  .col-item span,
  .col-item span a {
    margin-right: 30px;
  }

  .blog-item {
    margin-bottom: 50px;
  }
  .blog-item + button {
    margin-left: 0;
  }

  /* #### Content Area End #### */
  #content-area {
    padding: 100px 0;
  }
  .aside-area {
    margin-top: 0;
    padding: 0;
  }

  /** about-us.html */
  .blog-fact {
    margin-top: 0;
    padding: 100px 0;
  }

  .item + .item {
    margin-top: 0;
  }

  .blog-fact-info {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  /** post.html */
  .slide {
    height: 600px;
  }

  .item {
    padding: 70px 0;
  }

  .item img,
  .comment-item img,
  .reply-item img {
    width: 130px;
    border-radius: 50%;
    margin-right: 30px;
  }
  .comment-item,
  .reply-item {
    margin-bottom: 30px;
  }
  .comment-item img,
  .reply-item img {
    width: 70px;
    margin-right: 60px;
  }

  .post-comment {
    border-bottom: none;
    padding: 0;
  }
}
