/* #### Slider Area End #### */
.swiper-slide {
  position: relative;
  z-index: 1;
  width: 100%;
}
.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper {
  height: 300px;
}
@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
  .swiper {
    height: 670px;
  }
}

/* PC: */
@media (min-width: 1200px) {
  .swiper {
    height: 670px;
  }
}
