/* #### Header Area Start ####*/
#header-area {
}

.logo-area {
  display: flex;
  align-items: center;
}

/* Top Header */
.top-header {
  max-width: var(--max-width);
  margin: 0 auto;
}
.top-title {
  padding: 10px 15px;
}
.social-icon {
  padding: 14px;
}
.social-icon a {
  color: var(--black);
  padding: 5px 15px;
  cursor: pointer;
  font-size: 13px;
  line-height: 19.5px;

  transition: all 0.5s ease 0s;
  transition-duration: 500ms;
}

/* Logo */
.logo-area {
  justify-content: center;
  height: 100px;

  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}

/* Navigation */
.nav-area {
  max-width: var(--max-width);
  margin: 0 auto;

  padding: 14px;
}

.subscribe-btn {
  height: 40px;
  align-items: center;
  line-height: 40px;
  min-width: 140px;
  text-transform: uppercase;
  color: var(--white);
  background-color: #0d0d0d;

  transition: color 0.5s ease-in-out 0s, background-color 0.5s ease-in-out 0s;
  transition-duration: 500ms;
}

.nav-link {
  display: none;
  flex: 1;
}

.nav-link li a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.5s ease 0s;
  transition-duration: 500ms;
  padding: 10px 12px;
}

/* search */
.search-input {
  display: none;
  min-width: 270px;
  border: 2px solid #000;
  border-radius: 1000px;
  padding: 9px;
}

/* #### Header Area End #### */

/* #### Slider Area Start #### */
#slider {
  display: flex;
}
.slides img {
  width: 145px;
  height: 250px;
  margin-left: 30px;
}

/* #### Slider Area End #### */

/* #### Content Area Start #### */
#content-area {
  padding-top: 100px;
  padding-bottom: 40px;
}

/* ## Sub content Area ## */
.col-item {
  padding: 15px;
}
.col-item p:first-child {
  color: var(--sub-text-color);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 16.5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.col-item a {
  color: var(--black);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 31.2px;
  margin-bottom: 30px;
  transition: all 0.5s ease 0s;
  transition-duration: 500ms;
}
.col-item a:hover {
  color: #30336b;
  transition-duration: 500ms;
}
.col-item a + p {
  color: var(--description-text-color);
  font-weight: 600;
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}
.blog-btn {
  margin-top: 40px;
}
/* ============================================================================================== */

/* ## Main content Area ## */
/* Blog Area */
.blog-img {
  position: relative;
  margin-top: 50px;
  padding: 0 15px;
}
.blog-img img {
  width: 100%;
}
.blog-img .img-info {
  position: absolute;
  top: 15px;
  left: 15px;
  min-width: 60px;
  text-align: center;
  background-color: var(--white);
  border: 1px solid #787878;
  padding: 20px 0;
}
.img-info p:first-child {
  font-size: 2.4rem;
  font-weight: 600;
}
.img-info p:last-child {
  color: var(--description-text-color);
}
.col-item span,
.col-item span a {
  color: var(--description-text-color);
  line-height: 24px;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 20px;
}
.col-item span a {
  color: var(--black);
}

.blog-item + button {
  margin-left: 15px;
}

.blog-img {
  width: 100%;
}

/* ## Aside content area ## */
.aside-area {
  margin-top: 60px;
  padding: 0 20px;
}
.aside-area h3 {
  color: #000000;
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 20px;
}
.aside-area div + div {
  margin-top: 60px;
}
.input-form {
  width: 100%;
  color: #bbbec1;
  border: none;
  border-bottom: 1px solid #bbbec1;

  transition: all 0.5s ease 0s;
  transition-duration: 500ms;
  padding: 12px 0;
}
.search-form:focus {
  border-bottom: 1px solid #000000;
}
.subscribe .input-form {
  font-style: italic;
  border: 1px solid #787878;
  padding: 12px 20px;
  margin-bottom: 10px;
}
.post-item {
  display: flex;
}
.post-item img {
  margin-right: 15px;
}
.info li {
  margin-bottom: 8px;
}
.info span {
  color: #878787;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.info li a {
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 16px;
}
.aside-tag {
  display: flex;
  flex-wrap: wrap;
}
.aside-tag a {
  font-size: 1.2rem;
  border: 1px solid #c5c5c5;
  padding: 12px 35px;
  margin-right: 8px;
  margin-top: 8px;
  transition: all 0.5s ease 0s;
  transition-duration: 500ms;
}

.aside-tag a:hover {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

/* #### Content Area End #### */

/* #### Footer Area Start #### */
#footer-area {
  border-top: 1px solid #dcdcdc;
}

.heading h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  padding: 40px 0px;
}
.list-image {
  width: 5000px;
  margin-left: -250px;
}
.list-image img {
  width: 130px;
}

.copy-right {
  font-size: 1.6rem;
  text-align: center;
  padding: 60px 0px;
}

/* #### Footer Area End #### */
