/* #### Slider Area Start #### */
#slider {
  display: flex;
  justify-content: center;
  margin-left: -1000px;
  margin-right: -1000px;
}

.slides {
  position: relative;
  width: 145px;

  height: 250px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: 15px;
  margin-right: 15px;
}

.slider-btn-left,
.slider-btn-right {
  position: absolute;
  width: 40px;
  top: 63.5%;
  line-height: 42px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #cbcbcb;
  border: none;
  border-radius: 2px;
  z-index: 2;

  transition: all 0.5s ease 0s;
  transition-duration: 500ms;
}
.slider-btn-left {
  left: 7%;
}
.slider-btn-right {
  right: 7%;
}

.slider-btn-left:hover,
.slider-btn-right:hover {
  background-color: #0d0d0d;
  color: #ffffff;
}

/* #### Slider Area End #### */

/* #### Content Area Start #### */
#content-area {
  padding-top: 100px;
  padding-bottom: 40px;
}

/* ## Sub content Area ## */
.col-item {
  padding: 15px;
}
.col-item p:first-child {
  color: var(--sub-text-color);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 16.5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.col-item a {
  color: var(--black);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 31.2px;
  margin-bottom: 30px;
  transition: all 0.5s ease 0s;
  transition-duration: 500ms;
}
.col-item a:hover {
  color: #30336b;
  transition-duration: 500ms;
}
.col-item a + p {
  color: var(--description-text-color);
  font-weight: 600;
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}
.blog-btn {
  margin-top: 40px;
}
/* ============================================================================================== */

/* ## Main content Area ## */
/* Blog Area */
.blog-img {
  position: relative;
  margin-top: 50px;
  padding: 0 15px;
}
.blog-img img {
  width: 100%;
}
.blog-img .img-info {
  position: absolute;
  top: 15px;
  left: 15px;
  min-width: 60px;
  text-align: center;
  background-color: var(--white);
  border: 1px solid #787878;
  padding: 20px 0;
}
.img-info p:first-child {
  font-size: 2.4rem;
  font-weight: 600;
}
.img-info p:last-child {
  color: var(--description-text-color);
}
.col-item span,
.col-item span a {
  color: var(--description-text-color);
  line-height: 24px;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 20px;
}
.col-item span a {
  color: var(--black);
}

.blog-item + button {
  margin-left: 15px;
}

.blog-img {
  width: 100%;
}

/* ## Aside content area ## */
.aside-area {
  margin-top: 60px;
  padding: 0 20px;
}
.aside-area h3 {
  color: #000000;
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 20px;
}
.aside-area div + div {
  margin-top: 60px;
}

.input-form {
  width: 100%;
  color: #bbbec1;
  border: none;
  border-bottom: 1px solid #bbbec1;

  outline: none;

  padding: 12px 0;

  transition: all 0.5s ease 0s;
  transition-duration: 500ms;
}
.input-form:focus {
  color: var(--black);
  border-bottom: 1px solid var(--black);
}
.subscribe .input-form {
  font-style: italic;
  border: 1px solid #787878;
  padding: 12px 20px;
  margin-bottom: 10px;
}
.post-item {
  display: flex;
}
.post-item img {
  margin-right: 15px;
}
.info li {
  margin-bottom: 8px;
}
.info span {
  color: #878787;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.info li a {
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 16px;
}
.aside-tag {
  display: flex;
  flex-wrap: wrap;
}
.aside-tag a {
  font-size: 1.2rem;
  border: 1px solid #c5c5c5;
  padding: 12px 35px;
  margin-right: 8px;
  margin-top: 8px;
  transition: all 0.5s ease 0s;
  transition-duration: 500ms;
}

.aside-tag a:hover {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

/* #### Content Area End #### */
